* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { height: 100vh; width: 100vw; }

body {
  background: linear-gradient(to top, #0ea5e9, #6366f1);
}

.board {
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  height: 100%;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove bordas externas usando seletores mais inteligentes */
.cell:nth-child(-n+3) { border-top: none; }
.cell:nth-child(3n+1) { border-left: none; }
.cell:nth-child(n+7)  { border-bottom: none; }
.cell:nth-child(3n)   { border-right: none; }

.winning-message { display: none; }